@tailwind base;
@tailwind components;
@tailwind utilities;




@layer components{
  body{
    @apply leading-7 m-auto h-screen w-[calc(100%-1rem)]  p-0 font-Rubik bg-gradient-to-br from-edgewater-100
    to-edgewater-100 via-edgewater-200  ;
  }
  .header{
    @apply  m-2 z-10 sticky top-0 min-h-16 w-[calc(100%-1rem)] bg-edgewater-700 bg-opacity-60
     flex flex-row p-6 justify-between items-center backdrop-blur-lg rounded-lg shadow-md;
  }
  .main-content{
    @apply flex md:flex-row  flex-col w-full justify-between ;
  }
  #main{
    @apply m-3 w-[calc(95%)];
  }
  .panel{
    @apply m-2  p-4 md:w-1/2 w-full bg-edgewater-50 rounded-2xl  h-1/2 md:h-full ;

  }
  .feature-item {
    @apply bg-edgewater-200 border-l-4 border-edgewater-500 mb-4 p-4 rounded-md cursor-pointer
     transition-all  ease-linear ;
  }

.feature-item:hover {
  @apply bg-edgewater-400 -translate-y-1 border-edgewater-700  ;
  
  
}
.feature-item.active {
  @apply bg-edgewater-700 text-edgewater-50 border-edgewater-300 border-l-8 py-6;
}

#dropZone {
  @apply border-dashed border-edgewater-300 border-2 rounded-3xl p-8
   text-center mb-4 transition-all  ease-linear cursor-pointer ;
}
button {
  @apply bg-edgewater-500 text-white border-0 p-4 rounded-3xl text-xl mt-4
   cursor-pointer transition-all ease-linear hover:bg-edgewater-600 hover:rounded-xl duration-200;
  
}

.file-item {
  @apply bg-edgewater-200 border-l-4 border-edgewater-500 p-3 mb-2 rounded-2xl flex justify-between items-center
  transition-all delay-150 ease-linear hover:bg-edgewater-300 text-ellipsis overflow-hidden ;
}

.remove-btn {
  @apply bg-red-400 p-3 text-xs hover:bg-red-500;
}

#uploadForm{
  @apply hidden rounded-xl h-36 p-4 bg-edgewater-600 
   shadow-md transition-all ease-linear mb-2 text-center ;
}
#uploadForm:hover{
  @apply bg-edgewater-700 ;
}
#UploadFile{
  @apply h-full;
}
.upload-btn{
  @apply h-4/6 w-full hover:bg-edgewater-500;
}

#dropZone:hover, #dropZone.dragover {
  @apply bg-edgewater-100
  border-edgewater-800 ;
}
#dropZone p {
  @apply m-0 ;
  font-size: 1.1rem;
}
  
  #selectAction{
    @apply hidden rounded-xl h-36 p-4 bg-[#e0ab38] flex justify-center items-center
    shadow-md transition-all ease-linear mb-2 text-center text-lg ;
  }
  #removeSomeFile{
    @apply hidden rounded-xl h-36 p-4 bg-[#e0ab38] flex justify-center items-center
    shadow-md transition-all ease-linear mb-2 text-center text-lg
  }
  .processBtn{
    @apply w-1/2 text-center;
  }
  .downloadBtn{
    @apply w-1/2 text-center;
  }

.feature-list{
  @apply list-none p-0;
}
h1{
  @apply text-2xl font-bold text-edgewater-50;
}
h2{
  @apply text-xl font-bold text-edgewater-800;
}
.inputPsswd{
  @apply rounded-lg border-2 border-edgewater-800 p-2 w-3/4 text-edgewater-800 bg-edgewater-200 
  placeholder-edgewater-300 placeholder-opacity-50;
}


#loading-overlay {
  @apply hidden fixed top-0 left-0 w-[calc(100%)] h-[calc(100%)] bg-edgewater-800 bg-opacity-50 backdrop-blur-xl  ;
  z-index: 9999;
}
#loading-message {
  @apply absolute top-[calc(50%)] left-[calc(50%)] bg-edgewater-100 p-6 rounded-xl text-center ;
  
  transform: translate(-50%, -50%);
}
.spinner {
  @apply border-4  border-edgewater-400 border-opacity-55 border-t-edgewater-900  rounded-full w-8 h-8 ;
  animation: spin 1s linear infinite;
  margin: 0 auto 10px;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

}
.material-symbols-outlined.md-18 { font-size: 18px; }
        .material-symbols-outlined.md-24 { font-size: 24px; }
        .material-symbols-outlined.md-36 { font-size: 36px; }
        .material-symbols-outlined.md-48 { font-size: 48px; }
.material-symbols-outlined {
    
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
  } 

#fileList {
  margin-top: 1rem;
}
