<header
class="h-16 flex items-center justify-center bg-teal-950 w-auto p-4"
>
</header>
<main class="bg-teal-300 rounded-3xl m-3 w-auto h-full flex flex-row p-5 ">

  <input type="file" id="fileInput" class="">
<button onclick="addFile()">Add</button>
<div id="fileList"></div>
<button onclick="sendFiles()">Send Files</button>
  <div id="submit" class="w-full">
    <button
      class="submit-button"
      type="button"
      onclick="checkFileInput()">
      Upload
    </button>
    <p id="upload-error" class="text-red-300 text-sm"></p>
  </div>
</div>
<div class=" main-child w-2/3">
<div class="action" data-action="/merge">
  <h2 class="font-bold flex   text-2xl" >MERGE</h2>
  <div class="action-child">
    <div class="action-child-btns">
      <p>Add more files</p>
      <div class="">
    <button class="merge-btn" type="button" onclick="addFileInput()">
      <span class="material-symbols-outlined"> add_circle </span>
    </button>
    <button type="button" class="merge-btn" onclick="removeFileInput()">
      <span class="material-symbols-outlined"> remove </span> 
    </button></div></div>
    <p id="merge-text" class="text-red-300 text-sm"></p>
    <p class="pb-7">Merge multiple pdf's to single file 
      add files and press upload
    </p>
  </div>  
</div>
<div class="action" data-action="/split">
  <h2 class="font-bold flex   text-2xl" >SPLIT</h2>
  <div class="action-child">
    <div class="action-child-btns">
      <p>specify pages to split</p>
      <div class="">
        <input type="text" class="w-16 h-12 " placeholder="enter pageNo" id="split-page-no">
    <button type="button" class="split-btn w-14" onclick="splitAddPageNo()">
      <span class="material-symbols-outlined"> add </span> 
    </button></div></div>
    <div class="w-full h-full">
      

    </div>
    <p class="pb-7">split a single pdf into multiple PDF's
    </p>
  </div>  
</div>
</main>