<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pdf Manipulator</title>
    <link rel="stylesheet" href="../static/output.css">
  </head>

  <body>
    <h1 class="font-bold">hello</h1>
    <form  id="fileInput"  method="post" enctype="multipart/form-data">
      <div id="fileInputs">
          <input type="file" name="file1"class="file:mr-4 file:py-2 file:px-4
          file:rounded-full file:border-0
          file:text-sm file:font-semibold
          file:bg-violet-50 file:text-violet-700
          hover:file:bg-teal-100" />
      </div>
    </form>
    <div id="submit">
      <button type="button" onclick="submitFile()">Upload</button>
    </div>
      <div>
        <h2 id="merge">Merge text</h2>
        <button type="button" onclick="addFileInput()">addmore</button>
        <button type="button" onclick="removeFileInput()">remove</button>
    </div>
    <div>
      <h2 id="split">split</h2>
    
    </div>

    <div>
      <h2>convert</h2>
      <form id="convert" method="post" enctype="multipart/form-data">
        <div id="fileInputs">
          <input type="file" name="file1" />
        </div>
        <button type="button" onclick="setAction('/html')">Convert to HTML</button>
        <button type="button" onclick="setAction('/docx')">Convert to DOCX</button>

    
      </form>
    </div>
  </body>
  <script src="../static/index.js"></script>
</html>
